{"openapi":"3.1.0","info":{"title":"SwiftCloud API","version":"1.0.0-alpha","description":"Deploy apps, manage databases and object storage on SwiftCloud. Authenticate with `Authorization: Bearer <token>` — a session token from `cloud login`, or an `sc_` API token bound to one organisation. Long operations return the resource with its `status`; poll until it is terminal."},"servers":[{"url":"https://cloud.co.zm/api/v1"}],"security":[{"bearer":[]}],"components":{"securitySchemes":{"bearer":{"type":"http","scheme":"bearer"}},"schemas":{"Problem":{"type":"object","description":"RFC 9457 problem details","properties":{"type":{"type":"string","format":"uri"},"title":{"type":"string"},"status":{"type":"integer"},"detail":{"type":"string"}},"required":["type","title","status","detail"]},"Health":{"type":"object","properties":{"status":{"type":"string","enum":["ok","degraded"]},"api":{"type":"string"},"database":{"type":"string","enum":["ok","error"]},"worker":{"type":"object","properties":{"status":{"type":"string","enum":["ok","stale","missing"]},"lastHeartbeat":{"type":["string","null"],"format":"date-time"},"ageSeconds":{"type":["integer","null"]}},"required":["status","lastHeartbeat","ageSeconds"]},"time":{"type":"string","format":"date-time"}},"required":["status","api","database","worker","time"]},"Me":{"type":"object","properties":{"user":{"type":"object","properties":{"id":{"type":"string"},"email":{"type":"string"},"name":{"type":["string","null"]}},"required":["id","email","name"]},"auth":{"type":"object","properties":{"kind":{"type":"string","enum":["session","api-token"]},"expiresAt":{"type":["string","null"],"format":"date-time"}},"required":["kind","expiresAt"]},"organizations":{"type":"array","items":{"$ref":"#/components/schemas/Org"}}},"required":["user","auth","organizations"]},"AppList":{"type":"object","properties":{"items":{"type":"array","items":{"$ref":"#/components/schemas/App"}}},"required":["items"]},"DeploymentList":{"type":"object","properties":{"items":{"type":"array","items":{"$ref":"#/components/schemas/Deployment"}}},"required":["items"]},"CustomDomainList":{"type":"object","properties":{"items":{"type":"array","items":{"$ref":"#/components/schemas/CustomDomain"}}},"required":["items"]},"DatabaseList":{"type":"object","properties":{"items":{"type":"array","items":{"$ref":"#/components/schemas/Database"}}},"required":["items"]},"BucketList":{"type":"object","properties":{"items":{"type":"array","items":{"$ref":"#/components/schemas/Bucket"}}},"required":["items"]},"BackupList":{"type":"object","properties":{"items":{"type":"array","items":{"$ref":"#/components/schemas/Backup"}}},"required":["items"]},"EngineVersionList":{"type":"object","properties":{"items":{"type":"array","items":{"$ref":"#/components/schemas/EngineVersion"}}},"required":["items"]},"BackupsEnabled":{"type":"object","properties":{"enabled":{"type":"boolean"},"retention":{"type":"string"}},"required":["enabled","retention"]},"Org":{"type":"object","properties":{"id":{"type":"string"},"slug":{"type":"string"},"name":{"type":"string"},"role":{"type":"string","enum":["owner","admin","member","viewer"]}},"required":["id","slug","name","role"]},"OrgList":{"type":"object","properties":{"items":{"type":"array","items":{"$ref":"#/components/schemas/Org"}}},"required":["items"]},"Region":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"location":{"type":["string","null"]},"status":{"type":"string"},"s3Endpoint":{"type":["string","null"],"description":"Public S3 endpoint for buckets in this region (path-style, signing region us-east-1), or null when none is configured."}},"required":["id","name","location","status","s3Endpoint"]},"RegionList":{"type":"object","properties":{"items":{"type":"array","items":{"$ref":"#/components/schemas/Region"}}},"required":["items"]},"App":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string","minLength":1,"maxLength":63,"pattern":"^[a-z0-9]([a-z0-9-]*[a-z0-9])?$","description":"Unique within the organisation. Lowercase letters, digits and hyphens."},"organizationId":{"type":"string"},"region":{"type":"string","nullable":true,"description":"Region name, e.g. zm-lusaka-central-1"},"regionId":{"type":"string","nullable":true},"image":{"type":"string","minLength":1,"maxLength":512,"description":"Container image reference, e.g. ghcr.io/acme/web:1.4.2"},"description":{"type":"string","nullable":true},"status":{"type":"string","description":"deploying | ready | stopped | suspended | failed | delete_failed | deleting. `ready` is the healthy state. Advanced by the platform worker; poll until terminal (ready, stopped, suspended, failed, delete_failed)."},"errorMessage":{"type":"string","nullable":true,"description":"Why the app is in its current state, when the state alone is not actionable. Set when `status` is `failed`, null otherwise. Mirrors the same field on databases."},"servingRevision":{"type":"string","nullable":true,"description":"The revision actually taking traffic. While a rollout is in flight this lags `latestRevision`; if it stays behind, the newest revision never became ready and the previous image is still serving."},"latestRevision":{"type":"string","nullable":true,"description":"The newest revision Knative has created for this app."},"url":{"type":"string","format":"uri","nullable":true,"description":"Public https URL once deployed"},"containerPort":{"type":"integer"},"replicasMin":{"type":"integer"},"replicasMax":{"type":"integer"},"size":{"type":"string","nullable":true},"envVars":{"type":"object","additionalProperties":{"type":"string"},"description":"Values are returned; this is configuration, not a secret store.","nullable":true},"registryAuth":{"type":"object","properties":{"server":{"type":"string"},"username":{"type":"string"}},"required":["server","username"],"additionalProperties":false,"nullable":true,"description":"Password omitted."},"createdAt":{"type":"string","format":"date-time"},"updatedAt":{"type":"string","format":"date-time"}},"required":["id","name","organizationId","region","regionId","image","description","status","errorMessage","servingRevision","latestRevision","url","containerPort","replicasMin","replicasMax","size","envVars","registryAuth","createdAt","updatedAt"],"additionalProperties":false},"AppCreate":{"type":"object","properties":{"name":{"type":"string","minLength":1,"maxLength":63,"pattern":"^[a-z0-9]([a-z0-9-]*[a-z0-9])?$","description":"Unique within the organisation. Lowercase letters, digits and hyphens."},"image":{"type":"string","minLength":1,"maxLength":512,"description":"Container image reference, e.g. ghcr.io/acme/web:1.4.2"},"region":{"type":"string","minLength":1,"description":"Region id or name, e.g. zm-lusaka-central-1"},"description":{"type":"string","maxLength":500},"containerPort":{"type":"integer","minimum":1,"maximum":65535,"default":8080},"replicasMin":{"type":"integer","minimum":0,"maximum":100,"default":0},"replicasMax":{"type":"integer","minimum":1,"maximum":100,"default":3},"size":{"type":"string","minLength":1,"description":"Pricing tier name (see /pricing). Defaults to the smallest."},"envVars":{"type":"object","additionalProperties":{"type":"string"},"description":"Environment variables as a name → value map."},"registryAuth":{"type":"object","properties":{"server":{"type":"string","minLength":1,"description":"Registry host, e.g. ghcr.io"},"username":{"type":"string","minLength":1},"password":{"type":"string","minLength":1,"description":"Registry password or token. Never returned by the API."}},"required":["server","username","password"],"additionalProperties":false,"description":"Credentials for a private registry."}},"required":["name","image","region"],"additionalProperties":false},"AppUpdate":{"type":"object","properties":{"description":{"type":"string","maxLength":500,"nullable":true},"containerPort":{"type":"integer","minimum":1,"maximum":65535},"replicasMin":{"type":"integer","minimum":0,"maximum":100},"replicasMax":{"type":"integer","minimum":1,"maximum":100},"envVars":{"type":"object","additionalProperties":{"type":"string"},"description":"Environment variables as a name → value map."},"registryAuth":{"type":"object","properties":{"server":{"type":"string","minLength":1,"description":"Registry host, e.g. ghcr.io"},"username":{"type":"string","minLength":1},"password":{"type":"string","minLength":1,"description":"Registry password or token. Never returned by the API."}},"required":["server","username","password"],"additionalProperties":false,"description":"Set to null to remove registry credentials.","nullable":true}},"additionalProperties":false},"AppDeploy":{"type":"object","properties":{"image":{"type":"string","minLength":1,"maxLength":512,"description":"Container image reference, e.g. ghcr.io/acme/web:1.4.2"},"force":{"type":"boolean","description":"Roll a new revision even if the image and settings are unchanged — for a rebuilt image pushed under the same tag."}},"required":["image"],"additionalProperties":false},"Deployment":{"type":"object","properties":{"id":{"type":"string"},"image":{"type":"string","minLength":1,"maxLength":512,"description":"Container image reference, e.g. ghcr.io/acme/web:1.4.2"},"status":{"type":"string"},"revision":{"type":"string","nullable":true},"failureReason":{"type":"string","nullable":true},"createdAt":{"type":"string","format":"date-time"}},"required":["id","image","status","revision","failureReason","createdAt"],"additionalProperties":false},"CustomDomain":{"type":"object","properties":{"id":{"type":"string"},"domain":{"type":"string"},"status":{"type":"string","description":"pending | active | failed"},"tls":{"type":"string","description":"TLS state as the platform reports it. \"active\" only when a certificate really exists."},"message":{"type":"string","nullable":true,"description":"Why TLS or routing is not active, when it is not — including the CNAME target to set."},"createdAt":{"type":"string","format":"date-time"},"updatedAt":{"type":"string","format":"date-time"}},"required":["id","domain","status","tls","message","createdAt","updatedAt"],"additionalProperties":false},"DomainAdd":{"type":"object","properties":{"domain":{"type":"string","minLength":3,"maxLength":253,"pattern":"^(?!-)[a-z0-9-]{1,63}(?<!-)(\\.(?!-)[a-z0-9-]{1,63}(?<!-))+$"}},"required":["domain"],"additionalProperties":false},"Database":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string","minLength":1,"maxLength":40,"pattern":"^[a-z0-9]([a-z0-9-]*[a-z0-9])?$","description":"Unique within the organisation. Lowercase letters, digits and hyphens."},"organizationId":{"type":"string"},"region":{"type":"string","nullable":true,"description":"Region name"},"regionId":{"type":"string","nullable":true},"engine":{"type":"string"},"version":{"type":"string","nullable":true},"size":{"type":"string","nullable":true},"description":{"type":"string","nullable":true},"status":{"type":"string","description":"provisioning | starting | ready | stopped | suspended | failed | delete_failed | deleting. `ready` is the healthy state. Advanced by the platform worker; poll until terminal (ready, stopped, suspended, failed, delete_failed)."},"errorMessage":{"type":"string","nullable":true},"host":{"type":"string","nullable":true,"description":"Public connection host, once provisioned"},"port":{"type":"integer","nullable":true},"createdAt":{"type":"string","format":"date-time"},"updatedAt":{"type":"string","format":"date-time"}},"required":["id","name","organizationId","region","regionId","engine","version","size","description","status","errorMessage","host","port","createdAt","updatedAt"],"additionalProperties":false},"DatabaseCreate":{"type":"object","properties":{"name":{"type":"string","minLength":1,"maxLength":40,"pattern":"^[a-z0-9]([a-z0-9-]*[a-z0-9])?$","description":"Unique within the organisation. Lowercase letters, digits and hyphens."},"engine":{"type":"string","enum":["postgresql","mariadb"]},"version":{"type":"string","minLength":1,"maxLength":32,"description":"An available version for the engine (see GET /database-engines). Defaults to the engine default."},"region":{"type":"string","minLength":1,"description":"Region id or name"},"size":{"type":"string","minLength":1,"description":"Pricing tier name (see /pricing). Defaults to the smallest."},"description":{"type":"string","maxLength":500}},"required":["name","engine","region"],"additionalProperties":false},"DatabaseRestore":{"type":"object","properties":{"name":{"type":"string","minLength":1,"maxLength":40,"pattern":"^[a-z0-9]([a-z0-9-]*[a-z0-9])?$","description":"Name for the NEW database. The source is never modified."},"at":{"type":"string","format":"date-time","description":"RFC 3339 point in time to recover to. Omit for the latest backup."}},"required":["name"],"additionalProperties":false},"BackupsEnable":{"type":"object","properties":{"retention":{"type":"string","pattern":"^\\d+[dwm]$","description":"Retention window (barman syntax, e.g. 3d). A window, not a count: with a daily schedule 3d keeps two or three base backups."}},"additionalProperties":false},"Backup":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"status":{"type":"string","description":"pending | running | completed | failed, as reported by the backup system"},"size":{"type":"string","nullable":true},"completedAt":{"type":"string","format":"date-time","nullable":true},"createdAt":{"type":"string","format":"date-time"}},"required":["id","name","status","size","completedAt","createdAt"],"additionalProperties":false},"Credentials":{"type":"object","properties":{"username":{"type":"string"},"password":{"type":"string"},"host":{"type":"string"},"port":{"type":"integer"},"database":{"type":"string"},"connectionString":{"type":"string","description":"Key/value form (psql / libpq)"},"connectionStringUri":{"type":"string","description":"URI form: postgresql:// or mysql://"},"internalHost":{"type":"string","description":"Reachable only from apps in the same region"},"internalConnectionString":{"type":"string"}},"required":["username","password","host","port","database","connectionString","connectionStringUri","internalHost","internalConnectionString"],"additionalProperties":false},"EngineVersion":{"type":"object","properties":{"engine":{"type":"string","enum":["postgresql","mariadb"]},"version":{"type":"string"},"default":{"type":"boolean"}},"required":["engine","version","default"],"additionalProperties":false},"Bucket":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string","minLength":3,"maxLength":63,"pattern":"^[a-z0-9]([a-z0-9.-]*[a-z0-9])?$","description":"Unique within the organisation, 3–63 characters, S3 naming rules."},"bucketName":{"type":"string","nullable":true,"description":"Physical S3 bucket name — use THIS with the S3 endpoint."},"organizationId":{"type":"string"},"region":{"type":"string","nullable":true,"description":"Region name"},"regionId":{"type":"string"},"endpoint":{"type":"string","nullable":true,"description":"Public S3 endpoint for the region (path-style). Null when the region has none configured."},"virtualHost":{"type":"string","description":"Virtual-hosted address of the bucket, <bucketName>.s3.<region domain>"},"status":{"type":"string","description":"creating | ready | failed | deleting. Advanced by the platform; poll until terminal."},"errorMessage":{"type":"string","nullable":true,"description":"Why the last operation on this bucket failed — set when a delete fails, cleared when one succeeds. Null on a healthy bucket. Mirrors the same field on apps and databases."},"storageClass":{"type":"string"},"size":{"type":"string","nullable":true,"description":"Pricing tier"},"sizeBytes":{"type":"string","description":"Measured usage in bytes, as a decimal string (may exceed 2^53). Refreshed periodically, not live."},"objectCount":{"type":"integer"},"publicAccess":{"type":"boolean"},"publicPrefixes":{"type":"array","items":{"type":"string"},"description":"Folders anyone may read, when the bucket itself is private"},"versioning":{"type":"boolean"},"readOnly":{"type":"boolean","description":"True while the bucket is over its storage limit and its keys cannot write"},"createdAt":{"type":"string","format":"date-time"},"updatedAt":{"type":"string","format":"date-time"}},"required":["id","name","bucketName","organizationId","region","regionId","endpoint","virtualHost","status","errorMessage","storageClass","size","sizeBytes","objectCount","publicAccess","publicPrefixes","versioning","readOnly","createdAt","updatedAt"],"additionalProperties":false},"BucketCreate":{"type":"object","properties":{"name":{"type":"string","minLength":3,"maxLength":63,"pattern":"^[a-z0-9]([a-z0-9.-]*[a-z0-9])?$","description":"Unique within the organisation, 3–63 characters, S3 naming rules."},"region":{"type":"string","minLength":1,"description":"Region id or name"},"size":{"type":"string","minLength":1,"description":"Pricing tier name (see /pricing). Defaults to the smallest."},"storageClass":{"type":"string","enum":["STANDARD"],"description":"Only STANDARD is offered today.","default":"STANDARD"}},"required":["name","region"],"additionalProperties":false},"BucketCredentials":{"type":"object","properties":{"accessKeyId":{"type":"string"},"secretAccessKey":{"type":"string"},"endpoint":{"type":"string","description":"Public S3 endpoint for the region. Use path-style addressing with region \"us-east-1\"."},"bucketName":{"type":"string","description":"Physical bucket name to use with the endpoint"},"virtualHost":{"type":"string"},"region":{"type":"string","nullable":true,"description":"Platform region name (informational; the S3 signing region is always us-east-1)"}},"required":["accessKeyId","secretAccessKey","endpoint","bucketName","virtualHost","region"],"additionalProperties":false},"PresignRequest":{"type":"object","properties":{"key":{"type":"string","minLength":1,"maxLength":1024,"description":"Object key"},"method":{"type":"string","enum":["GET","PUT","DELETE"],"default":"GET"},"expiresIn":{"type":"integer","minimum":1,"maximum":604800,"default":3600,"description":"Seconds; max 7 days"},"versionId":{"type":"string","description":"Link to one specific version (GET only)"}},"required":["key"],"additionalProperties":false},"PresignResponse":{"type":"object","properties":{"url":{"type":"string","format":"uri"},"method":{"type":"string","enum":["GET","PUT","DELETE"]},"expiresAt":{"type":"string","format":"date-time"}},"required":["url","method","expiresAt"],"additionalProperties":false},"BucketUpdate":{"type":"object","properties":{"versioning":{"type":"boolean","description":"Enable or suspend object versioning"},"publicAccess":{"type":"boolean","description":"Make every object in the bucket readable by anyone (GetObject only; the bucket cannot be listed)"},"publicPrefixes":{"type":"array","items":{"type":"string","minLength":1,"maxLength":900},"maxItems":50,"description":"Folders readable by anyone while the rest of the bucket stays private. Replaces the current list."}},"additionalProperties":false},"ObjectVersion":{"type":"object","properties":{"key":{"type":"string"},"versionId":{"type":"string"},"isLatest":{"type":"boolean"},"lastModified":{"type":"string","nullable":true},"size":{"type":"integer"},"etag":{"type":"string","nullable":true},"deleteMarker":{"type":"boolean","description":"True when this entry records a deletion, not content"}},"required":["key","versionId","isLatest","lastModified","size","etag","deleteMarker"]},"ObjectVersionList":{"type":"object","properties":{"key":{"type":"string"},"versions":{"type":"array","items":{"$ref":"#/components/schemas/ObjectVersion"}}},"required":["key","versions"]},"RestoreRequest":{"type":"object","properties":{"key":{"type":"string","minLength":1},"versionId":{"type":"string","minLength":1}},"required":["key","versionId"],"additionalProperties":false},"AccessKey":{"type":"object","properties":{"id":{"type":"string"},"accessKeyId":{"type":"string"},"label":{"type":"string","nullable":true},"createdAt":{"type":"string"}},"required":["id","accessKeyId","label","createdAt"]},"AccessKeyList":{"type":"object","properties":{"items":{"type":"array","items":{"$ref":"#/components/schemas/AccessKey"}}},"required":["items"]},"AccessKeyCreated":{"type":"object","properties":{"id":{"type":"string"},"accessKeyId":{"type":"string"},"secretAccessKey":{"type":"string","description":"Shown once, at creation, and never again"},"label":{"type":"string","nullable":true},"createdAt":{"type":"string"},"note":{"type":"string"}},"required":["id","accessKeyId","secretAccessKey","label","createdAt","note"]},"KeyAdd":{"type":"object","properties":{"label":{"type":"string","maxLength":60}},"additionalProperties":false},"KeyRevoke":{"type":"object","properties":{"keyId":{"type":"string","minLength":1}},"required":["keyId"],"additionalProperties":false},"BucketDomain":{"type":"object","properties":{"id":{"type":"string"},"domain":{"type":"string"},"status":{"type":"string","description":"pending | active | failed"},"tls":{"type":"string","description":"pending | active"},"message":{"type":"string","nullable":true,"description":"What to do next, when not active"},"target":{"type":"string","description":"The CNAME target: the bucket's own S3 hostname"},"createdAt":{"type":"string"}},"required":["id","domain","status","tls","message","target","createdAt"]},"BucketDomainList":{"type":"object","properties":{"items":{"type":"array","items":{"$ref":"#/components/schemas/BucketDomain"}}},"required":["items"]},"BucketDomainAdd":{"type":"object","properties":{"domain":{"type":"string","minLength":3,"maxLength":253}},"required":["domain"],"additionalProperties":false},"BucketDomainRemove":{"type":"object","properties":{"domainId":{"type":"string","minLength":1,"description":"Domain id or the hostname itself"}},"required":["domainId"],"additionalProperties":false},"Domain":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"status":{"type":"string","description":"pending | active"},"nameservers":{"type":"array","items":{"type":"string"},"description":"Name servers currently observed for the domain"},"dnsSynced":{"type":"boolean","description":"True when the platform's name servers are authoritative for it"},"createdAt":{"type":"string"}},"required":["id","name","status","nameservers","dnsSynced","createdAt"]},"DomainList":{"type":"object","properties":{"items":{"type":"array","items":{"$ref":"#/components/schemas/Domain"}}},"required":["items"]},"DnsRecord":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string","description":"Relative to the domain: \"@\" for the apex, \"www\" for www.<domain>"},"type":{"type":"string","enum":["A","AAAA","CNAME","MX","TXT","NS","SRV","CAA","PTR"]},"content":{"type":"string","description":"Canonical value as held by the name servers (hostnames end with a dot, TXT is quoted)"},"ttl":{"type":"integer"},"priority":{"type":"integer","nullable":true,"description":"MX and SRV only"},"createdAt":{"type":"string"},"updatedAt":{"type":"string"}},"required":["id","name","type","content","ttl","priority","createdAt","updatedAt"]},"DnsRecordList":{"type":"object","properties":{"items":{"type":"array","items":{"$ref":"#/components/schemas/DnsRecord"}}},"required":["items"]},"DnsRecordCreate":{"type":"object","properties":{"name":{"type":"string","minLength":1,"maxLength":253,"description":"\"@\", \"www\", or a full name within the domain"},"type":{"type":"string","enum":["A","AAAA","CNAME","MX","TXT","NS","SRV","CAA","PTR"]},"content":{"type":"string","minLength":1,"maxLength":4096},"ttl":{"type":"integer","minimum":60,"maximum":86400,"description":"Defaults: 300 for A/AAAA/CNAME/SRV/PTR, 3600 for MX/TXT/NS/CAA"},"priority":{"type":"integer","minimum":0,"maximum":65535,"description":"Required for MX and SRV"}},"required":["name","type","content"],"additionalProperties":false},"DnsRecordUpdate":{"type":"object","properties":{"name":{"type":"string","minLength":1,"maxLength":253,"description":"\"@\", \"www\", or a full name within the domain"},"type":{"type":"string","enum":["A","AAAA","CNAME","MX","TXT","NS","SRV","CAA","PTR"]},"content":{"type":"string","minLength":1,"maxLength":4096},"ttl":{"type":"integer","minimum":60,"maximum":86400,"description":"Defaults: 300 for A/AAAA/CNAME/SRV/PTR, 3600 for MX/TXT/NS/CAA"},"priority":{"type":"integer","minimum":0,"maximum":65535,"description":"Required for MX and SRV"}},"additionalProperties":false}}},"paths":{"/health":{"get":{"summary":"Liveness, including worker heartbeat age","x-permission":"none","parameters":[],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Health"}}}},"400":{"description":"Validation failed","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"401":{"description":"Not signed in","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"403":{"description":"Role does not allow this, or API token bound to another organisation","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"404":{"description":"Not found (or not yours)","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"503":{"description":"Degraded: database unreachable or worker heartbeat stale","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Health"}}}}},"security":[]}},"/me":{"get":{"summary":"The signed-in identity and reachable organisations","x-permission":"none","parameters":[],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Me"}}}},"400":{"description":"Validation failed","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"401":{"description":"Not signed in","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"403":{"description":"Role does not allow this, or API token bound to another organisation","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"404":{"description":"Not found (or not yours)","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Problem"}}}}},"security":[{"bearer":[]}]}},"/orgs":{"get":{"summary":"Organisations the caller belongs to","x-permission":"none","parameters":[],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OrgList"}}}},"400":{"description":"Validation failed","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"401":{"description":"Not signed in","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"403":{"description":"Role does not allow this, or API token bound to another organisation","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"404":{"description":"Not found (or not yours)","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Problem"}}}}},"security":[{"bearer":[]}]}},"/regions":{"get":{"summary":"Regions available for new resources","x-permission":"none","parameters":[],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RegionList"}}}},"400":{"description":"Validation failed","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"401":{"description":"Not signed in","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"403":{"description":"Role does not allow this, or API token bound to another organisation","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"404":{"description":"Not found (or not yours)","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Problem"}}}}},"security":[{"bearer":[]}]}},"/orgs/{org}/apps":{"get":{"summary":"List apps","x-permission":"VIEW_RESOURCE","parameters":[{"name":"org","in":"path","required":true,"schema":{"type":"string"},"description":"Organisation slug or id"}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AppList"}}}},"400":{"description":"Validation failed","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"401":{"description":"Not signed in","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"403":{"description":"Role does not allow this, or API token bound to another organisation","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"404":{"description":"Not found (or not yours)","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Problem"}}}}},"security":[{"bearer":[]}]},"post":{"summary":"Create an app","x-permission":"CREATE_RESOURCE","parameters":[{"name":"org","in":"path","required":true,"schema":{"type":"string"},"description":"Organisation slug or id"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AppCreate"}}}},"responses":{"201":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/App"}}}},"400":{"description":"Validation failed","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"401":{"description":"Not signed in","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"403":{"description":"Role does not allow this, or API token bound to another organisation","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"404":{"description":"Not found (or not yours)","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Problem"}}}}},"security":[{"bearer":[]}]}},"/orgs/{org}/apps/{app}":{"get":{"summary":"Get an app","x-permission":"VIEW_RESOURCE","parameters":[{"name":"org","in":"path","required":true,"schema":{"type":"string"},"description":"Organisation slug or id"},{"name":"app","in":"path","required":true,"schema":{"type":"string"},"description":"App name or id"}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/App"}}}},"400":{"description":"Validation failed","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"401":{"description":"Not signed in","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"403":{"description":"Role does not allow this, or API token bound to another organisation","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"404":{"description":"Not found (or not yours)","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Problem"}}}}},"security":[{"bearer":[]}]},"patch":{"summary":"Update configuration (scaling, env, port, registry)","x-permission":"UPDATE_RESOURCE","parameters":[{"name":"org","in":"path","required":true,"schema":{"type":"string"},"description":"Organisation slug or id"},{"name":"app","in":"path","required":true,"schema":{"type":"string"},"description":"App name or id"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AppUpdate"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/App"}}}},"400":{"description":"Validation failed","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"401":{"description":"Not signed in","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"403":{"description":"Role does not allow this, or API token bound to another organisation","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"404":{"description":"Not found (or not yours)","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Problem"}}}}},"security":[{"bearer":[]}]},"delete":{"summary":"Delete an app","x-permission":"DELETE_RESOURCE","parameters":[{"name":"org","in":"path","required":true,"schema":{"type":"string"},"description":"Organisation slug or id"},{"name":"app","in":"path","required":true,"schema":{"type":"string"},"description":"App name or id"}],"responses":{"204":{"description":"No content"},"400":{"description":"Validation failed","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"401":{"description":"Not signed in","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"403":{"description":"Role does not allow this, or API token bound to another organisation","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"404":{"description":"Not found (or not yours)","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Problem"}}}}},"security":[{"bearer":[]}]}},"/orgs/{org}/apps/{app}/deploy":{"post":{"summary":"Deploy a new image","x-permission":"UPDATE_RESOURCE","parameters":[{"name":"org","in":"path","required":true,"schema":{"type":"string"},"description":"Organisation slug or id"},{"name":"app","in":"path","required":true,"schema":{"type":"string"},"description":"App name or id"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AppDeploy"}}}},"responses":{"202":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/App"}}}},"400":{"description":"Validation failed","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"401":{"description":"Not signed in","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"403":{"description":"Role does not allow this, or API token bound to another organisation","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"404":{"description":"Not found (or not yours)","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Problem"}}}}},"security":[{"bearer":[]}]}},"/orgs/{org}/apps/{app}/deployments":{"get":{"summary":"Deployment history, newest first","x-permission":"VIEW_RESOURCE","parameters":[{"name":"org","in":"path","required":true,"schema":{"type":"string"},"description":"Organisation slug or id"},{"name":"app","in":"path","required":true,"schema":{"type":"string"},"description":"App name or id"}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeploymentList"}}}},"400":{"description":"Validation failed","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"401":{"description":"Not signed in","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"403":{"description":"Role does not allow this, or API token bound to another organisation","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"404":{"description":"Not found (or not yours)","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Problem"}}}}},"security":[{"bearer":[]}]}},"/orgs/{org}/apps/{app}/logs":{"get":{"summary":"Stream logs as text/plain","x-permission":"VIEW_RESOURCE","parameters":[{"name":"org","in":"path","required":true,"schema":{"type":"string"},"description":"Organisation slug or id"},{"name":"app","in":"path","required":true,"schema":{"type":"string"},"description":"App name or id"},{"name":"tail","in":"query","required":false,"schema":{"type":"integer"},"description":"Number of recent lines (default 200)"},{"name":"follow","in":"query","required":false,"schema":{"type":"boolean"},"description":"Keep the stream open"},{"name":"since","in":"query","required":false,"schema":{"type":"integer"},"description":"Only logs from the last N seconds. Ignored when 0 or less; capped at 30 days. Applied before tail."}],"responses":{"200":{"description":"Log lines","content":{"text/plain":{"schema":{"type":"string"}}}},"400":{"description":"Validation failed","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"401":{"description":"Not signed in","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"403":{"description":"Role does not allow this, or API token bound to another organisation","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"404":{"description":"Not found (or not yours)","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Problem"}}}}},"security":[{"bearer":[]}]}},"/orgs/{org}/apps/{app}/domains":{"get":{"summary":"Custom domains","x-permission":"VIEW_RESOURCE","parameters":[{"name":"org","in":"path","required":true,"schema":{"type":"string"},"description":"Organisation slug or id"},{"name":"app","in":"path","required":true,"schema":{"type":"string"},"description":"App name or id"}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CustomDomainList"}}}},"400":{"description":"Validation failed","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"401":{"description":"Not signed in","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"403":{"description":"Role does not allow this, or API token bound to another organisation","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"404":{"description":"Not found (or not yours)","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Problem"}}}}},"security":[{"bearer":[]}]},"post":{"summary":"Attach a custom domain","x-permission":"UPDATE_RESOURCE","parameters":[{"name":"org","in":"path","required":true,"schema":{"type":"string"},"description":"Organisation slug or id"},{"name":"app","in":"path","required":true,"schema":{"type":"string"},"description":"App name or id"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DomainAdd"}}}},"responses":{"201":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CustomDomain"}}}},"400":{"description":"Validation failed","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"401":{"description":"Not signed in","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"403":{"description":"Role does not allow this, or API token bound to another organisation","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"404":{"description":"Not found (or not yours)","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Problem"}}}}},"security":[{"bearer":[]}]}},"/orgs/{org}/apps/{app}/domains/{domain}":{"delete":{"summary":"Remove a custom domain","x-permission":"UPDATE_RESOURCE","parameters":[{"name":"org","in":"path","required":true,"schema":{"type":"string"},"description":"Organisation slug or id"},{"name":"app","in":"path","required":true,"schema":{"type":"string"},"description":"App name or id"},{"name":"domain","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"204":{"description":"No content"},"400":{"description":"Validation failed","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"401":{"description":"Not signed in","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"403":{"description":"Role does not allow this, or API token bound to another organisation","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"404":{"description":"Not found (or not yours)","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Problem"}}}}},"security":[{"bearer":[]}]}},"/database-engines":{"get":{"summary":"Engines and versions available for new databases","x-permission":"none","parameters":[],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EngineVersionList"}}}},"400":{"description":"Validation failed","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"401":{"description":"Not signed in","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"403":{"description":"Role does not allow this, or API token bound to another organisation","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"404":{"description":"Not found (or not yours)","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Problem"}}}}},"security":[{"bearer":[]}]}},"/orgs/{org}/databases":{"get":{"summary":"List databases","x-permission":"VIEW_RESOURCE","parameters":[{"name":"org","in":"path","required":true,"schema":{"type":"string"},"description":"Organisation slug or id"}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DatabaseList"}}}},"400":{"description":"Validation failed","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"401":{"description":"Not signed in","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"403":{"description":"Role does not allow this, or API token bound to another organisation","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"404":{"description":"Not found (or not yours)","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Problem"}}}}},"security":[{"bearer":[]}]},"post":{"summary":"Create a database","x-permission":"CREATE_RESOURCE","parameters":[{"name":"org","in":"path","required":true,"schema":{"type":"string"},"description":"Organisation slug or id"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DatabaseCreate"}}}},"responses":{"201":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Database"}}}},"400":{"description":"Validation failed","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"401":{"description":"Not signed in","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"402":{"description":"problem type `billing-blocked`","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"403":{"description":"Role does not allow this, or API token bound to another organisation","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"404":{"description":"Not found (or not yours)","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"409":{"description":"problem type `limit-reached` problem type `conflict`","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Problem"}}}}},"security":[{"bearer":[]}]}},"/orgs/{org}/databases/{db}":{"get":{"summary":"Get a database","x-permission":"VIEW_RESOURCE","parameters":[{"name":"org","in":"path","required":true,"schema":{"type":"string"},"description":"Organisation slug or id"},{"name":"db","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Database"}}}},"400":{"description":"Validation failed","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"401":{"description":"Not signed in","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"403":{"description":"Role does not allow this, or API token bound to another organisation","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"404":{"description":"Not found (or not yours)","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Problem"}}}}},"security":[{"bearer":[]}]},"delete":{"summary":"Delete a database and its backups","x-permission":"DELETE_RESOURCE","parameters":[{"name":"org","in":"path","required":true,"schema":{"type":"string"},"description":"Organisation slug or id"},{"name":"db","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"204":{"description":"No content"},"400":{"description":"Validation failed","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"401":{"description":"Not signed in","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"403":{"description":"Role does not allow this, or API token bound to another organisation","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"404":{"description":"Not found (or not yours)","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Problem"}}}}},"security":[{"bearer":[]}]}},"/orgs/{org}/databases/{db}/start":{"post":{"summary":"Start a stopped database","x-permission":"UPDATE_RESOURCE","parameters":[{"name":"org","in":"path","required":true,"schema":{"type":"string"},"description":"Organisation slug or id"},{"name":"db","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"202":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Database"}}}},"400":{"description":"Validation failed","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"401":{"description":"Not signed in","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"403":{"description":"Role does not allow this, or API token bound to another organisation","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"404":{"description":"Not found (or not yours)","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Problem"}}}}},"security":[{"bearer":[]}]}},"/orgs/{org}/databases/{db}/stop":{"post":{"summary":"Stop a database (billing continues for storage)","x-permission":"UPDATE_RESOURCE","parameters":[{"name":"org","in":"path","required":true,"schema":{"type":"string"},"description":"Organisation slug or id"},{"name":"db","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"202":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Database"}}}},"400":{"description":"Validation failed","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"401":{"description":"Not signed in","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"403":{"description":"Role does not allow this, or API token bound to another organisation","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"404":{"description":"Not found (or not yours)","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Problem"}}}}},"security":[{"bearer":[]}]}},"/orgs/{org}/databases/{db}/restart":{"post":{"summary":"Restart a database","x-permission":"UPDATE_RESOURCE","parameters":[{"name":"org","in":"path","required":true,"schema":{"type":"string"},"description":"Organisation slug or id"},{"name":"db","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"202":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Database"}}}},"400":{"description":"Validation failed","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"401":{"description":"Not signed in","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"403":{"description":"Role does not allow this, or API token bound to another organisation","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"404":{"description":"Not found (or not yours)","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Problem"}}}}},"security":[{"bearer":[]}]}},"/orgs/{org}/databases/{db}/credentials":{"get":{"summary":"Connection credentials (write-level permission; never cached)","x-permission":"UPDATE_RESOURCE","parameters":[{"name":"org","in":"path","required":true,"schema":{"type":"string"},"description":"Organisation slug or id"},{"name":"db","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Credentials"}}}},"400":{"description":"Validation failed","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"401":{"description":"Not signed in","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"403":{"description":"Role does not allow this, or API token bound to another organisation","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"404":{"description":"Not found (or not yours)","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"409":{"description":"problem type `conflict`","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Problem"}}}}},"security":[{"bearer":[]}]}},"/orgs/{org}/databases/{db}/backups":{"get":{"summary":"List backups, newest first","x-permission":"VIEW_RESOURCE","parameters":[{"name":"org","in":"path","required":true,"schema":{"type":"string"},"description":"Organisation slug or id"},{"name":"db","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BackupList"}}}},"400":{"description":"Validation failed","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"401":{"description":"Not signed in","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"403":{"description":"Role does not allow this, or API token bound to another organisation","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"404":{"description":"Not found (or not yours)","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Problem"}}}}},"security":[{"bearer":[]}]},"post":{"summary":"Take a backup now (PostgreSQL only)","x-permission":"UPDATE_RESOURCE","parameters":[{"name":"org","in":"path","required":true,"schema":{"type":"string"},"description":"Organisation slug or id"},{"name":"db","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"201":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Backup"}}}},"400":{"description":"Validation failed problem type `unsupported-engine`","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"401":{"description":"Not signed in","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"403":{"description":"Role does not allow this, or API token bound to another organisation","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"404":{"description":"Not found (or not yours)","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Problem"}}}}},"security":[{"bearer":[]}]}},"/orgs/{org}/databases/{db}/backups/enable":{"post":{"summary":"Enable automatic daily backups (PostgreSQL only)","x-permission":"UPDATE_RESOURCE","parameters":[{"name":"org","in":"path","required":true,"schema":{"type":"string"},"description":"Organisation slug or id"},{"name":"db","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BackupsEnable"}}}},"responses":{"202":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BackupsEnabled"}}}},"400":{"description":"Validation failed problem type `unsupported-engine`","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"401":{"description":"Not signed in","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"403":{"description":"Role does not allow this, or API token bound to another organisation","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"404":{"description":"Not found (or not yours)","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Problem"}}}}},"security":[{"bearer":[]}]}},"/orgs/{org}/buckets":{"get":{"summary":"List buckets","x-permission":"VIEW_RESOURCE","parameters":[{"name":"org","in":"path","required":true,"schema":{"type":"string"},"description":"Organisation slug or id"}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BucketList"}}}},"400":{"description":"Validation failed","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"401":{"description":"Not signed in","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"403":{"description":"Role does not allow this, or API token bound to another organisation","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"404":{"description":"Not found (or not yours)","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Problem"}}}}},"security":[{"bearer":[]}]},"post":{"summary":"Create a bucket (exists on the object store when this returns)","x-permission":"CREATE_RESOURCE","parameters":[{"name":"org","in":"path","required":true,"schema":{"type":"string"},"description":"Organisation slug or id"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BucketCreate"}}}},"responses":{"201":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Bucket"}}}},"400":{"description":"Validation failed","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"401":{"description":"Not signed in","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"402":{"description":"problem type `billing-blocked`","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"403":{"description":"Role does not allow this, or API token bound to another organisation","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"404":{"description":"Not found (or not yours)","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"409":{"description":"problem type `conflict`","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Problem"}}}}},"security":[{"bearer":[]}]}},"/orgs/{org}/buckets/{bucket}":{"get":{"summary":"Get a bucket, by display name, physical name or id","x-permission":"VIEW_RESOURCE","parameters":[{"name":"org","in":"path","required":true,"schema":{"type":"string"},"description":"Organisation slug or id"},{"name":"bucket","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Bucket"}}}},"400":{"description":"Validation failed","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"401":{"description":"Not signed in","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"403":{"description":"Role does not allow this, or API token bound to another organisation","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"404":{"description":"Not found (or not yours)","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Problem"}}}}},"security":[{"bearer":[]}]},"delete":{"summary":"Delete a bucket AND every object in it","x-permission":"DELETE_RESOURCE","parameters":[{"name":"org","in":"path","required":true,"schema":{"type":"string"},"description":"Organisation slug or id"},{"name":"bucket","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"204":{"description":"No content"},"400":{"description":"Validation failed","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"401":{"description":"Not signed in","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"403":{"description":"Role does not allow this, or API token bound to another organisation","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"404":{"description":"Not found (or not yours)","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Problem"}}}}},"security":[{"bearer":[]}]},"patch":{"summary":"Change a bucket's versioning or public access","x-permission":"UPDATE_RESOURCE","parameters":[{"name":"org","in":"path","required":true,"schema":{"type":"string"},"description":"Organisation slug or id"},{"name":"bucket","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BucketUpdate"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Bucket"}}}},"400":{"description":"Validation failed","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"401":{"description":"Not signed in","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"403":{"description":"Role does not allow this, or API token bound to another organisation","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"404":{"description":"Not found (or not yours)","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"409":{"description":"The region cannot honour this setting","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Problem"}}}}}}},"/orgs/{org}/buckets/{bucket}/credentials":{"get":{"summary":"S3 credentials with endpoint and physical bucket name (write-level; never cached)","x-permission":"UPDATE_RESOURCE","parameters":[{"name":"org","in":"path","required":true,"schema":{"type":"string"},"description":"Organisation slug or id"},{"name":"bucket","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BucketCredentials"}}}},"400":{"description":"Validation failed","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"401":{"description":"Not signed in","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"403":{"description":"Role does not allow this, or API token bound to another organisation","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"404":{"description":"Not found (or not yours)","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"409":{"description":"problem type `conflict`","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Problem"}}}}},"security":[{"bearer":[]}]}},"/orgs/{org}/buckets/{bucket}/presign":{"post":{"summary":"Mint a pre-signed URL for one object","x-permission":"UPDATE_RESOURCE","parameters":[{"name":"org","in":"path","required":true,"schema":{"type":"string"},"description":"Organisation slug or id"},{"name":"bucket","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PresignRequest"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PresignResponse"}}}},"400":{"description":"Validation failed","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"401":{"description":"Not signed in","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"403":{"description":"Role does not allow this, or API token bound to another organisation","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"404":{"description":"Not found (or not yours)","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"409":{"description":"problem type `conflict`","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Problem"}}}}},"security":[{"bearer":[]}]}},"/orgs/{org}/databases/{db}/restore":{"post":{"summary":"Restore into a NEW database (PostgreSQL only); the source is untouched","x-permission":"CREATE_RESOURCE","parameters":[{"name":"org","in":"path","required":true,"schema":{"type":"string"},"description":"Organisation slug or id"},{"name":"db","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DatabaseRestore"}}}},"responses":{"201":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Database"}}}},"400":{"description":"Validation failed problem type `unsupported-engine`","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"401":{"description":"Not signed in","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"402":{"description":"problem type `billing-blocked`","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"403":{"description":"Role does not allow this, or API token bound to another organisation","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"404":{"description":"Not found (or not yours)","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"409":{"description":"problem type `conflict`","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Problem"}}}}},"security":[{"bearer":[]}]}},"/orgs/{org}/buckets/{bucket}/versions":{"get":{"summary":"List an object's versions, newest first","x-permission":"VIEW_RESOURCE","parameters":[{"name":"org","in":"path","required":true,"schema":{"type":"string"},"description":"Organisation slug or id"},{"name":"bucket","in":"path","required":true,"schema":{"type":"string"}},{"name":"key","in":"query","required":true,"schema":{"type":"string"},"description":"Object key"}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ObjectVersionList"}}}},"400":{"description":"Validation failed","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"401":{"description":"Not signed in","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"403":{"description":"Role does not allow this, or API token bound to another organisation","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"404":{"description":"Not found (or not yours)","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Problem"}}}}}}},"/orgs/{org}/buckets/{bucket}/restore":{"post":{"summary":"Copy a previous version back onto the key","x-permission":"UPDATE_RESOURCE","parameters":[{"name":"org","in":"path","required":true,"schema":{"type":"string"},"description":"Organisation slug or id"},{"name":"bucket","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RestoreRequest"}}}},"responses":{"204":{"description":"Restored"},"400":{"description":"Validation failed","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"401":{"description":"Not signed in","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"403":{"description":"Role does not allow this, or API token bound to another organisation","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"404":{"description":"Not found (or not yours)","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Problem"}}}}}}},"/orgs/{org}/buckets/{bucket}/keys":{"get":{"summary":"List the organisation's active access keys","x-permission":"VIEW_RESOURCE","parameters":[{"name":"org","in":"path","required":true,"schema":{"type":"string"},"description":"Organisation slug or id"},{"name":"bucket","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AccessKeyList"}}}},"400":{"description":"Validation failed","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"401":{"description":"Not signed in","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"403":{"description":"Role does not allow this, or API token bound to another organisation","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"404":{"description":"Not found (or not yours)","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Problem"}}}}}},"post":{"summary":"Add an access key pair","x-permission":"UPDATE_RESOURCE","parameters":[{"name":"org","in":"path","required":true,"schema":{"type":"string"},"description":"Organisation slug or id"},{"name":"bucket","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"required":false,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/KeyAdd"}}}},"responses":{"201":{"description":"Created; the secret is returned once","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AccessKeyCreated"}}}},"400":{"description":"Validation failed","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"401":{"description":"Not signed in","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"403":{"description":"Role does not allow this, or API token bound to another organisation","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"404":{"description":"Not found (or not yours)","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"409":{"description":"Two key pairs are already active","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Problem"}}}}}},"delete":{"summary":"Revoke an access key pair","x-permission":"UPDATE_RESOURCE","parameters":[{"name":"org","in":"path","required":true,"schema":{"type":"string"},"description":"Organisation slug or id"},{"name":"bucket","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/KeyRevoke"}}}},"responses":{"204":{"description":"Revoked"},"400":{"description":"Validation failed","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"401":{"description":"Not signed in","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"403":{"description":"Role does not allow this, or API token bound to another organisation","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"404":{"description":"Not found (or not yours)","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"409":{"description":"This is the only active key","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Problem"}}}}}}},"/orgs/{org}/buckets/{bucket}/domains":{"get":{"summary":"List custom hostnames on a bucket","x-permission":"VIEW_RESOURCE","parameters":[{"name":"org","in":"path","required":true,"schema":{"type":"string"},"description":"Organisation slug or id"},{"name":"bucket","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BucketDomainList"}}}},"400":{"description":"Validation failed","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"401":{"description":"Not signed in","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"403":{"description":"Role does not allow this, or API token bound to another organisation","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"404":{"description":"Not found (or not yours)","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Problem"}}}}}},"post":{"summary":"Attach a custom hostname to a public bucket","x-permission":"UPDATE_RESOURCE","parameters":[{"name":"org","in":"path","required":true,"schema":{"type":"string"},"description":"Organisation slug or id"},{"name":"bucket","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BucketDomainAdd"}}}},"responses":{"201":{"description":"Attached","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BucketDomain"}}}},"400":{"description":"Validation failed","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"401":{"description":"Not signed in","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"403":{"description":"Role does not allow this, or API token bound to another organisation","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"404":{"description":"Not found (or not yours)","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"409":{"description":"The bucket is not public, or the domain is already in use","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Problem"}}}}}},"delete":{"summary":"Remove a custom hostname","x-permission":"UPDATE_RESOURCE","parameters":[{"name":"org","in":"path","required":true,"schema":{"type":"string"},"description":"Organisation slug or id"},{"name":"bucket","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BucketDomainRemove"}}}},"responses":{"204":{"description":"Removed"},"400":{"description":"Validation failed","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"401":{"description":"Not signed in","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"403":{"description":"Role does not allow this, or API token bound to another organisation","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"404":{"description":"Not found (or not yours)","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Problem"}}}}}}},"/orgs/{org}/domains":{"get":{"summary":"List the organisation's domains","x-permission":"VIEW_RESOURCE","parameters":[{"name":"org","in":"path","required":true,"schema":{"type":"string"},"description":"Organisation slug or id"}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DomainList"}}}},"400":{"description":"Validation failed","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"401":{"description":"Not signed in","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"403":{"description":"Role does not allow this, or API token bound to another organisation","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"404":{"description":"Not found (or not yours)","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Problem"}}}}}}},"/orgs/{org}/domains/{domain}/records":{"get":{"summary":"List a domain's DNS records","x-permission":"VIEW_RESOURCE","parameters":[{"name":"org","in":"path","required":true,"schema":{"type":"string"},"description":"Organisation slug or id"},{"name":"domain","in":"path","required":true,"schema":{"type":"string"},"description":"Domain name or id"}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DnsRecordList"}}}},"400":{"description":"Validation failed","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"401":{"description":"Not signed in","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"403":{"description":"Role does not allow this, or API token bound to another organisation","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"404":{"description":"Not found (or not yours)","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Problem"}}}}}},"post":{"summary":"Create a DNS record","x-permission":"CREATE_RESOURCE","parameters":[{"name":"org","in":"path","required":true,"schema":{"type":"string"},"description":"Organisation slug or id"},{"name":"domain","in":"path","required":true,"schema":{"type":"string"},"description":"Domain name or id"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DnsRecordCreate"}}}},"responses":{"201":{"description":"Created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DnsRecord"}}}},"400":{"description":"Validation failed","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"401":{"description":"Not signed in","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"403":{"description":"Role does not allow this, or API token bound to another organisation","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"404":{"description":"Not found (or not yours)","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Problem"}}}}}}},"/orgs/{org}/domains/{domain}/records/{recordId}":{"put":{"summary":"Change a DNS record","x-permission":"UPDATE_RESOURCE","parameters":[{"name":"org","in":"path","required":true,"schema":{"type":"string"},"description":"Organisation slug or id"},{"name":"domain","in":"path","required":true,"schema":{"type":"string"},"description":"Domain name or id"},{"name":"recordId","in":"path","required":true,"schema":{"type":"string"},"description":"Record id"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DnsRecordUpdate"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DnsRecord"}}}},"400":{"description":"Validation failed","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"401":{"description":"Not signed in","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"403":{"description":"Role does not allow this, or API token bound to another organisation","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"404":{"description":"Not found (or not yours)","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Problem"}}}}}},"delete":{"summary":"Delete a DNS record","x-permission":"DELETE_RESOURCE","parameters":[{"name":"org","in":"path","required":true,"schema":{"type":"string"},"description":"Organisation slug or id"},{"name":"domain","in":"path","required":true,"schema":{"type":"string"},"description":"Domain name or id"},{"name":"recordId","in":"path","required":true,"schema":{"type":"string"},"description":"Record id"}],"responses":{"204":{"description":"Deleted"},"400":{"description":"Validation failed","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"401":{"description":"Not signed in","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"403":{"description":"Role does not allow this, or API token bound to another organisation","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"404":{"description":"Not found (or not yours)","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Problem"}}}}}}}}}